/* text-regular - VAG World */
@font-face {
  font-family: "VAG World Bold";
  src: url("./assets/fonts/vag-world-bold/vag-world-bold.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/vag-world-bold/vag-world-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/vag-world-bold/vag-world-bold.otf") format("opentype"), /* Open Type Font */
  url("./assets/fonts/vag-world-bold/vag-world-bold.svg") format("svg"), /* Legacy iOS */
  url("./assets/fonts/vag-world-bold/vag-world-bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./assets/fonts/vag-world-bold/vag-world-bold.woff") format("woff"), /* Modern Browsers */
  url("./assets/fonts/vag-world-bold/vag-world-bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}